---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Strategie",
    description:
      "Wij helpen je met een op maat gemaakte strategie die aansluit bij jouw bedrijfsdoelen.",
    icon: "mdi:strategy",
  },
  {
    title: "Design",
    description:
      "Onze strakke designs zorgen voor meer conversies, weerspiegelen jouw merk en werken goed op elk apparaat.",
    icon: "iconoir:design-nib",
  },
  {
    title: "Afleverbaarheid",
    description:
      "Geen zorgen meer over in spam belanden. Wij weten precies waar e-mail providers op letten.",
    icon: "mdi:email-check-outline",
  },
  {
    title: "Campagne Management",
    description:
      "Geen tijd om je e-mailcampagnes te beheren? Laat het bedenken en uitvoeren van al je e-mailcampagnes aan ons over.",
    icon: "material-symbols-light:campaign-outline",
  },
  {
    title: "Automatisering",
    description:
      "Met slimme flows mailen we elke klant op het perfecte moment om relaties te verbeteren en omzet te vergroten.",
    icon: "ph:gear-light",
  },
  {
    title: "Custom Integraties",
    description:
      "Wij regelen alle integraties tussen jouw website, e-mailmarketing platform, CRM of overige software.",
    icon: "fad:automation-4p",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Experts van concept tot conversie
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Astro comes batteries included. It takes the best parts of state-of-the-art
    tools and adds its own innovations.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
