---
// @ts-ignore
import { Icon } from "astro-icon/components";
import { Picture } from "astro:assets";
import zapierLogo from "assets/zapier-black.svg";
import mailchimpLogo from "assets/mailchimp-black.svg";
import klaviyoLogo from "assets/klaviyo-black.svg";
import acLogo from "assets/activecampaign-black.svg";
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">Works with your technologies</h2>
  <div class="flex gap-x-8 gap-y-4 md:gap-20 lg:gap-28 items-center justify-center mt-6 flex-wrap">
    <Picture width=200 height=90 class="my-2 h-7 md:h-9"
      src={klaviyoLogo}
      alt="zapier-logo"
      loading="eager"
    />
    <Picture width=240 height=48 class="my-2 h-7 md:h-9"
      src={mailchimpLogo}
      alt="zapier-logo"
      loading="eager"
    />
    <Picture width=200 height=48 class="my-2 h-7 md:h-9"
      src={zapierLogo}
      alt="zapier-logo"
      loading="eager"
    />
    <Picture width=200   height=48 class="my-2 h-7 md:h-9"
      src={acLogo}
      alt="zapier-logo"
      loading="eager"
    />
  </div>
</div>
