---
// @ts-ignore
import { Icon } from "astro-icon/components";
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">Works with your technologies</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
<!-- setting height to unset and width to 48 because the default
v1 astro-icon sets them to 1em each -->
    <Icon width=48 height=unset class="h-8 md:h-12" name="simple-icons:react" />
    <Icon width=48 height=unset class="h-8 md:h-12" name="simple-icons:svelte" />
    <Icon width=48 height=unset class="h-8 md:h-14" name="simple-icons:tailwindcss" />
    <Icon width=48 height=unset class="h-8 md:h-16" name="simple-icons:alpinedotjs" />
    <Icon width=48 height=unset class="h-8 md:h-12" name="simple-icons:vercel" />
    <Icon width=48 height=unset class="h-8 md:h-12" name="simple-icons:astro" />
  </div>
</div>
